# http://editorconfig.org
root = true

tabWidth = 2
useTabs = false
semi = false
singleQuote = true
trailingComma = all
bracketSpacing = true
jsxBracketSameLine = false
requirePragma = false
insertPragma = false

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
singleQuote = true

[*.md]
trim_trailing_whitespace = false

