doctype html
html(lang="en")
  block settings
  head
    if title
      title #{title}
    if description
      meta(content=description name="description")
    if config.entry.css.embed
      link(rel="stylesheet" href=`${embedPath}` inline)
  body
    .container
      include ../header/header
      .content
        block content
      include ../footer/footer
if config.entry.css.external
  link(rel="stylesheet", href="/style.css")
