html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(#{$baseUrl}asset/image/become-a-web-developer-today.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
}
