html,
body {
  height: 100%;
  // margin: 0;
  // padding: 0;
  background-color: #121212;
}

.container {
  height: 100%;
}

.button:not(.is-outlined) {
  background: linear-gradient(135deg, #8338ec 0%,#2196f3 100%);
}

.is-borderless {
  border: 0;
}
