h1 Welcome future #[span.title__name--first #{data.user.name.first}] #[span.title__name--last #{data.user.name.last}]!
p This is a barebone setup.!
p=data.site.message
p At CodeTap we train people into coders and how to make a good living out of it.
p Check us out at #[a(href="https://info.codetap.academy" title="Become a Web Developer today") info.codetap.academy]
p nice
//- include asdas