$class: 'footer';

.#{$class} {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: $pearl-bush;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
