$class: 'top-menu';
.#{$class} {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 2rem;
  align-items: center;
  background-color: $don-juan;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.#{$class}-link {
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  color: $white;
  border-bottom: none;

  &:hover {
    color: $de-york;
  }
}
