doctype html
html(lang="en")
  block settings
  head
    if title
      title #{title}
    if description
      meta(content=description, name="description")
    if config.entry.css.inline
      link(rel="stylesheet", href=`${inlinePath}`, inline)
  body
    block content
if config.entry.css.external
  link(rel="stylesheet", href="style.css")
