doctype html
html(lang="en")
  block settings
  head
    if title
      title #{title}
    if description
      meta(content=description, name="description")
    if config.entry.css.inline
      link(rel="stylesheet", href=`${inlinePath}`, inline)
  body
    .container
      .content
        block content
      include ../_component/header/header
      include ../_component/footer/footer
if config.entry.css.external
  link(rel="stylesheet", href="style.css")
