doctype html
html(lang="en")
  head
    title Music Gateway
    meta(content="Music Gateway, a worldwide music industry marketplace where you find music industry jobs, music cloud storage, music news, music industry jobs, record labels companies, music business worldwide, music industry news, music industry careers, career in music business and how to start a career in music.")

    if config.entry.css.embed
      link(rel="stylesheet" href=`${embedPath}` embed)
  body
    //- .container
    include _component/welcome/welcome

    if config.entry.css.external
      link(rel="stylesheet", href=`${baseUrl}style.css`)
