extends _layout/base
block settings
  - title = 'Welcome to Pug Starter';
  - description = 'Simple pug (jade) starter aimed to quickly deliver HTML & CSS projects';

block content
  h1 Welcome to pug starter!
  p Simple pug (jade) starter [framework] enabling faster delivery of HTML &amp; CSS projects to a private server and/or automatic deployment of GitHub pages.
  p There are #{data.menu.length} items in the menu.
  :markdown-it
    # Support for markdown
    - one
    - two
