.welcome.hero.is-fullheight-with-navbar
  .hero-head
    nav.navbar.is-transparent
      .container
        .navbar-brand
          a.navbar-item(href="#")
            img(src="/asset/image/Logo.png")
        //- .navbar-menu.is-active
        .navbar-menu
          .navbar-start
            a.has-text-white.navbar-item(href="#") Artists
            .navbar-item.has-dropdown.is-hoverable
              a.has-text-white.navbar-link(href="#") Music distribution
              .navbar-dropdown
                a.has-text-white.navbar-item.is-outlined(href="#") your music in tv, film, ads &amp; games
                hr.navbar-divider
                a.has-text-white.navbar-item.is-outlined(href="#") license music &amp; music library
            a.has-text-white.navbar-link(href="#") Music publishing
            a.has-text-white.navbar-item(href="#") Pricing
            a.has-text-white.navbar-item(href="#") Testimonials

          .navbar-end
            .field.is-grouped
              p.control
                a.has-text-white.button.is-dark.is-outlined.is-rounded.is-borderless(href="#") Login
              p.control
                a.has-text-white.button.is-dark.is-outlined.is-rounded(href="#") Free 14 day trial
  .hero-body
    .container.has-text-centered
      .columns
        .column.is-3
        .column.is-14
          p.subtitle.has-text-white Trusted by thousands of indies worldwide
          h1.title.has-text-white.is-1 Join the worldwide music industry marketplace
        .column.is-3
      .columns
        .column.is-7
        .column.is-3.has-text-right
          a.button.is-rounded.is-borderless.has-text-white Sign up
        .column.is-3.has-text-left
          a.button.is-light.is-outlined.is-rounded Learn more
        .column.is-7
  .hero-footer
    p scroll to discover
    p 
